  .overview-boxes {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
  }

  .left-box {
    text-align: center;
    padding: 20px;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }

  /* Ensure the content starts below the navigation bar */
  .home-page {
    display: flex;
    flex-direction: column;
    align-items: center; /* Horizontal centering */
    justify-content: center; /* Vertical centering */
    min-height: calc(100vh - 60px); /* Full height minus navigation bar */
    padding: 0 20px; /* Optional: Padding for small screens */
    text-align: center; /* Center-align text inside the container */
    
  }
  
  .home-page h1 {
    font-size: 2.5em;
    font-weight: bold;
    margin-bottom: 40px; /* Space between heading and blocks */
  }

  .smart-contract-btn {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .smart-contract-btn:hover {
    background-color: #0056b3;
  }

.contract-button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .contract-button:hover {
    background-color: #0056b3;
  }
  
